body {
	font-family: 'Rokkitt', serif;
	margin: 0px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	/*color: #e6c3a3;*/
	color: #FE697B;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.blackout:hover {
	color: black;
}

@media (min-width: 951px) {
	.site-header {
		position: fixed;
		left: 0;
		top: 0;
		width: 220px;
		height: 100%;
		padding: 1rem 2rem 0;
	}
	.phone-header {
		display: none;
	}
	.phone-header2 {
		display: none;
	}
	.furled {
		display: none;
	}
}

@media (max-width: 950px) {
	.site-header {
		display: none;
	}
	.phone-header {
		display: block;
		position: fixed;
		top: 0;
		text-align: center;
		width: 100%;
		background-color: white;
		min-height: 50px;
		z-index: 9999;
	}
	.furled {
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.topright {
		position: fixed;
		top: 10px;
		right: 10px;
    }
	.topleft {
		position: fixed;
		top: 10px;
		left: 10px;
		margin: 0;
	}
}

@media only screen and (max-device-width: 950px) {
	.site-header {
		display: none;
	}
	.phone-header {
		display: block;
		position: fixed;
		top: 0;
		text-align: center;
		width: 100%;
		background-color: white;
		min-height: 10em;
		z-index: 9999;
	}
	.furled {
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.topright {
		position: fixed;
		top: 15px;
		right: 30px;
    }
	.topleft {
		position: fixed;
		top: 15px;
		left: 30px;
		margin: 0;
		font-size: 8em;
	}
}

.phone-header2 {
		display: none;
}
.mobilenav {
		list-style: none;
		line-height: 40px;
		font-size: 28px;
		display: flex;
		flex-direction: column;
		margin: 0;
}
.lifestyle {
	display: none;
}

.conceptual {
	display: none;
}

.skate {
	display: none;
}

.weddings {
	display: none;
}

.music {
	display: none;
}

.site-header {
	background: #fff;
	z-index: 9;
}

.title {
	margin-bottom: 60px;
	font-size: 34px;
}

.dropdown {
    position: relative;
}

.dropdown p {
	font-size: 18px;
}

.dropdown:hover {
	cursor: default;
}

.dropdown-content:hover {
	color: #FE697B
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    line-height: 12px;
    opacity: 0;
    margin-top: -4400px;
    font-size: 14px;
    display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
	margin-left: 90px;
	margin-top: -3.3em;
	opacity: 1; 
	transition: opacity 2s ease;
	 
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    margin: 5px;
}

.dropdown-content a:hover {
	color: #FE697B
}

.active {
	text-decoration: underline;
}

.socials {
	position: fixed;
	bottom: 30px;
	width: 180px;
	line-height: 20px;
}

.socials p {
	font-size: 12px;
}


@media (min-width: 951px) {
	.photos {
		position: static;
		margin-left: 250px;
		margin-top: 0;
	}
	.photo img {
	max-width: 65vw;
	width: 100%;
	height: auto;	
	margin: 40px 50px 40px 50px;
	
	/*display: flex;*/
/*	flex: 0 1 auto;*/
	}
}
@media (max-width: 950px) {
	.photos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		white-space: nowrap;
		margin-top: 50px;
	}

	.photos img {
		width:950px;
		height: auto;
		max-width: 100vw;
	}
}

@media (min-width: 951px) {
	.mobilenav {
		display: none;
	}
}

@media only screen and (max-device-width: 950px) {
	.photos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		white-space: nowrap;
		margin-left: 0px;
		margin-top: 10em;
		z-index: -1;
	}

	.photos img {
		width:950px;
		height: auto;
		max-width: 100vw;
		margin: 0px 30px 30px 30px;
	}
	.mobilenav {
		list-style: none;
		line-height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 80px;
		min-height: 100vh;
		max-height: 100vh;
	}
	.mobilenav a {
		height: 160px;
	}
	.icon {
		height: 8em;
	}
}

.closeicon {
		height: 2em;
		margin-top: .5em;
		/*position: fixed;
		bottom: .5em;
		left: 50%;
		transform: translateX(-50%);*/
	}

.insta-icon {
	width: 70px;
	height: 70px;
	transition-property: all;
	transition-duration: 200ms;
}

.insta-icon:hover {
	transform: scale(1.2) rotate(0.0001deg);
}

.mob-icon {
	height: 2em;
	margin-bottom: .5em;
}

.low-icon {
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 70px;
	width: 70px;
}

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.contact-text {
	margin: 50px;
	z-index: 9999999;
	text-align: right;
}

.contact-pic {
	width: 40vw;
	margin: 50px;
}

.foto {
	width: 100%;
}

@media (max-width: 951px) {
	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.contact-pic {
		width: 100vw;
	}
}

@media only screen and (max-device-width: 950px) {
	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		margin-top: 10em;
	}
	.contact-text {
		font-size: 4em;
	}
	.insta-icon {
		display: none;
	}
	.contact-pic {
		width: 100vw;
	}
}
