body {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #e6c3a3;
}

@media (min-width: 951px) {
	.site-header {
		position: fixed;
		left: 0;
		top: 0;
		width: 250px;
		height: 100%;
		padding: 4rem 3rem 0;
	}
}

.site-header {
	background: #fff;
	z-index: 9;
}


@media (min-width: 951px) {
	.photos {
		position: static;
		margin-left: 250px;
		margin-top: 0;
	}
}

.photos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	white-space: nowrap;
}

.photo {
	width: 100%;	
	margin: 2em;
	display: flex;
	flex: 0 1 auto;
}